includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    scanFiles:
        - .phpstan/stubs/AppHttpKernel.php
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: false
